@import './assets/variables'; 
@import './assets/mixins';

.outer-container,
.container {
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 60rem; 
    margin: 0 auto;
}

.outer-container {
    width: 100vw;
}

.thread-wrapper {
    width: 100%;
    margin: 2rem 0;

    &.multiple-threads {
        .card {
            cursor: pointer;

            & > * {
                cursor: inherit;
            }
        }
    }

    .thread-box.expanded:first-child {
        margin-bottom: 4.0rem;
    }

    .thread-box.compressed:not(:last-child) {
        margin-bottom: 4.0rem;
    }

    .compressed:not(.expanded) {
        margin-bottom: -12.5rem !important;
    }
}

.thread-box {
    &.card {
        position: relative;
        max-width: $max-card-width;
        margin: 0 auto;
        @include box-properties;
        transition: height 0.3s ease, transform 0.3s ease;

        .row {
            display: flex;
            justify-content: space-between;
        }

        .total-messages {
            position: absolute;
            top: -0.625rem;
            right: 1rem;
            color: $total-message-color;
            padding: 0.3125rem 2.8125rem;
            border-radius: $card-radius;
        }
    }
}